<main>

  <header class="col-span-2 flex items-center">
    <div class="text-2xl w-full">{{ STRING.MODULES.LLIMBRO.CHILDREN.NUTRITION.COMPONENTS.INGREDIENT.LIST_TITLE }}</div>
    <button mat-icon-button (click)="toggleDeleteMode()"><mat-icon>{{deleteMode() ? 'delete_forever' : 'delete'}}</mat-icon></button>
    <button mat-icon-button (click)="navigateToIngredientForm('new')"><mat-icon>add</mat-icon></button>
  </header>

  <section class="h-px col-span-2">
    <mat-progress-bar *ngIf="nutritionService.loadingIngredientList()"></mat-progress-bar>
  </section>

  <!-- LISTA DE ALIMENTOS -->
  <section class="col-span-2">
    <dpm-listing [config]="ingredientListConfig" [items]="nutritionService.ingredientList()"/>
<!--      <app-ingredients-list *ngIf="showList" (ingredientsEmitter)="ingredientsEmitted($event)" [multiSelection]="deleteMode" iconConfirm="delete"></app-ingredients-list>-->
  </section>

</main>

