.calendar-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.days-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day, .day-header {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid #ddd;
}

.day-header {
  font-weight: bold;
}

.day {
  cursor: pointer;
  //background-color: #f4f4f4;
}
