<main class="grid h-full" [class]="intakeService.multiselectList() ? 'two-rows' : ''">
    <article class="h-full overflow-auto">
    @for (intake of intakesList; track $index) {

            <div class="grid item p-3 gap-4">

                <!-- IMAGEN -->
                <img class="h-20 w-20 rounded-full" [src]="intake.nutrition_ingredient.image || RESOURCES.DEFAULT_IMAGE" [alt]=""/>

                <!-- NOMBRE -->
                <div>{{ intake.nutrition_ingredient.name }}</div>

                <!-- SELECTOR DE GRAMOS -->
                <div class="relative w-full flex justify-between">
                    <mat-form-field appearance="outline" class="w-20">
                        <mat-label>Gramos</mat-label>
                        <input
                          #inputGrams
                          matInput type="number"
                          class="custom-number-input"
                          [(ngModel)]="intake.quantity_in_grams"
                          (ngModelChange)="saveNewQuantityInGramsIntake(intake)"
                          (focus)="inputGrams.select()"
                        />
                    </mat-form-field>

                    <mat-checkbox
                        *ngIf="intakeService.multiselectList()"
                        (change)="selectUnselectIntake(intake, $event.checked)"
                    />
                </div>
            </div>

            <mat-divider></mat-divider>
        }
    </article>
    <footer *ngIf="intakeService.multiselectList()" class="p-1 h-16 w-full grid justify-end">
        <button mat-fab (click)="deleteIntakes()"><mat-icon>delete</mat-icon></button>
    </footer>

</main>
