<h1 mat-dialog-title>{{ data.title }}</h1>

<mat-dialog-content>
  <div>{{ data.message }}</div>
</mat-dialog-content>

<mat-dialog-actions align="end">

  <!-- CANCEL BUTTON -->
  @if (data.cancelButton?.show || true) {
    <button
      mat-button
      [color]="data.cancelButton?.color || 'primary'"
      (click)="close(false)"
    >{{ data.cancelButton?.text || text.dialogs.cancel }}</button>
  }

  <!-- ACCEPT BUTTON -->
  @if (data.acceptButton?.show || true) {
    <button
      mat-button
      [color]="data.acceptButton?.color || 'primary'"
      (click)="close(true)"
    >{{ data.acceptButton?.text || text.dialogs.accept }}</button>
  }

</mat-dialog-actions>
