<!--<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" headerPosition="below" class="h-full" (selectedTabChange)="navigateNutritionModule($event)">-->

<!--  <mat-tab [label]="STRING.MODULES.LLIMBRO.CHILDREN.NUTRITION.COMPONENTS.INGREDIENT.NAME">-->
<!--    <app-ingredient></app-ingredient>-->
<!--  </mat-tab>-->

<!--  <mat-tab [label]="STRING.MODULES.LLIMBRO.CHILDREN.NUTRITION.COMPONENTS.INTAKE.NAME">-->
<!--    <app-intake></app-intake>-->
<!--  </mat-tab>-->
<!--  <mat-tab [label]="STRING.MODULES.LLIMBRO.CHILDREN.NUTRITION.COMPONENTS.OBJECTIVES.NAME">-->
<!--    <app-objectives></app-objectives>-->
<!--  </mat-tab>-->

<!--</mat-tab-group>-->
<router-outlet></router-outlet>
