<mat-drawer-container class="h-full w-full" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="sideNavService.sideNapOpened()">
    <!-- INFORMACIÓN DEL USUARIO -->
    <app-user-info></app-user-info>

    <!-- SIDE MENU -->
    <app-side-nav-menu></app-side-nav-menu>

  </mat-drawer>

  <main class="h-full w-full">
    <app-header></app-header>

    <article class="container-100-with-offset-toolbar-and-footer-height overflow-auto" (click)="sideNavService.sideNapOpened.set(false)">
      <router-outlet></router-outlet>
    </article>

    <app-footer></app-footer>
  </main>

</mat-drawer-container>
