.ingredient-names {
  display: flex;
  align-items: center;
  justify-content: center; /* Asegura que el div central esté centrado */
  flex-grow: 1;
  width: 100%;
}

.prev-next-name {
  font-size: 14px;
  color: gray;
  opacity: 0.6;
  flex-shrink: 0; /* Evita que los elementos se encojan */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.current-name {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0 20px;
  flex-grow: 1; /* Ocupa el espacio disponible */
  text-align: center;
}
