<ng-template #intakeContent>
  <app-calendar></app-calendar>

  <form *ngIf="!!intakeForm" [formGroup]="intakeForm" class="p-4">

    <!-- DESCRIPCIÓN -->
    <mat-form-field appearance="outline" class="col-span-2 row-span-2">
      <mat-label>ingredient</mat-label>
      <input matInput formControlName="ingredient"/>
    </mat-form-field>

  </form>

  <button mat-icon-button><mat-icon>add</mat-icon></button>
  <app-ingredient-list></app-ingredient-list>
</ng-template>

<app-column-center-container [template]="intakeContent"></app-column-center-container>
