<ng-container *ngIf="footerService.showingFooter()">
  <footer class="h-12 flex justify-center items-center gap-4 w-full border-t border-white/20">
    <ng-container *ngFor="let button of footerService.buttons()">
      <mat-icon (click)="onClickButton(button)">{{ button.icon }}</mat-icon>
      <div [class]="!button.active ? 'hidden' : ''" [style.width]="button.active ? getTextWidth(button.text) : 0">
        <span class="fade-in" *ngIf="button.active">{{ button.text }}</span>
      </div>
    </ng-container>
  </footer>
</ng-container>
