@import '@angular/material/prebuilt-themes/magenta-violet.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/tailwind.css';

@import "styles/animations";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: black }


:root {

  // Tamaño de la tab
  --standard-tab-height: 49px;

  // Tamaño de la toolbar
  --standard-toolbar-height: 64px;
  --small-toolbar-height: 56px;

  // Height con el offset toolbar
  --offset-toolbar-height: calc(100% - var(--standard-toolbar-height));

  @media(width < 600px) {
    --offset-toolbar-height: calc(100% - var(--small-toolbar-height));
  }

  .container-100-with-offset-toolbar-height {
    width: 100%;
    height: var(--offset-toolbar-height);
  }

  // Height con el offset tab
  .container-100-with-offset-tab-height {
    width: 100%;
    height: calc(100% - var(--standard-tab-height));
  }

  // Height offset con tab y toolbar
  .container-100-with-offset-toolbar-and-tab-height {
    width: 100%;
    height: calc(100vh - (var(--standard-tab-height) + var(--offset-tab-height)));
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-notched-outline__notch { // TODO: BUG DE MATERIAL 3 PROBAR DE QUITAR CUANDO ACTUALICE.
  border-right: none;
}
