<ng-template #ingredientFormTemplate>
  <form *ngIf="!!ingredientForm" [formGroup]="ingredientForm" class="grid grid-cols-2 gap-4" (change)="saveIngredient()">

    <header class="col-span-2 flex items-center">
      <button mat-icon-button (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
      <div class="text-2xl w-full">
        {{
          new ?
            STRING.MODULES.LLIMBRO.CHILDREN.NUTRITION.COMPONENTS.INGREDIENT.FORM_TITLE_EDIT :
            STRING.MODULES.LLIMBRO.CHILDREN.NUTRITION.COMPONENTS.INGREDIENT.FORM_TITLE_NEW
        }}
      </div>
      <mat-progress-spinner *ngIf="ingredientService.savingIngredient()" [diameter]="30" mode="indeterminate"></mat-progress-spinner>
      <button mat-icon-button color="warn" *ngIf="!new" (click)="deleteIngredient()"><mat-icon>delete</mat-icon></button>
    </header>

    <!-- INFORMACIÓN DEL ALIMENTO -->
    <article class="grid grid-cols-3 grid-rows-3 col-span-2 gap-4">

      <!-- IMAGEN -->
      <section class="row-span-2 flex justify-center items-center">
        <mat-progress-spinner mode="indeterminate"  *ngIf="ingredientService.processingImage()"></mat-progress-spinner>
        <img class="h-auto w-full max-w-lg rounded-lg" *ngIf="!ingredientService.processingImage()" [src]="image || 'Yo%20pocho.png'" alt="" />
        <input #imageInput (change)="onFileSelected($event)" type="file" accept="image/png, image/jpeg" hidden />
      </section>

      <!-- NOMBRE -->
      <mat-form-field appearance="outline" class="col-span-2">
        <mat-label>{{ FORM_LABELS.NAME }}</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <!-- DESCRIPCIÓN -->
      <mat-form-field appearance="outline" class="col-span-2 row-span-2">
        <mat-label>{{ FORM_LABELS.DESCRIPTION }}</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <button mat-fab extended (click)="selectImage()" [disabled]="new"><mat-icon>add_a_photo</mat-icon>{{ STRING.MODULES.LLIMBRO.CHILDREN.NUTRITION.COMPONENTS.INGREDIENT.FORM_ADD_PHOTO }}</button>

    </article>

    <mat-divider class="col-span-2"></mat-divider>
    <div class="col-span-2 text-lg">Por cada 100 g</div>

    <!-- CALORÍAS -->
    <mat-form-field appearance="outline">
      <mat-label>{{ FORM_LABELS.CALORIES }}</mat-label>
      <input matInput type="number" formControlName="calories_per_100" />
    </mat-form-field>

    <!-- PROTEÍNAS -->
    <mat-form-field appearance="outline">
      <mat-label>{{ FORM_LABELS.PROTEINS }}</mat-label>
      <input matInput type="number" formControlName="proteins_per_100" />
    </mat-form-field>

    <!-- GRASAS -->
    <mat-form-field appearance="outline">
      <mat-label>{{ FORM_LABELS.FATS }}</mat-label>
      <input matInput type="number" formControlName="fats_per_100" />
    </mat-form-field>

    <!-- HIDRATOS -->
    <mat-form-field appearance="outline">
      <mat-label>{{ FORM_LABELS.CARBOHYDRATES }}</mat-label>
      <input matInput type="number" formControlName="carbohydrates_per_100" />
    </mat-form-field>

  </form>
</ng-template>

<app-column-center-container [template]="ingredientFormTemplate"></app-column-center-container>
