<ng-template #ingredientList>
  <header class="col-span-2 flex items-center">
    <div class="text-2xl w-full">{{ STRING.MODULES.LLIMBRO.CHILDREN.NUTRITION.COMPONENTS.INGREDIENT.LIST_TITLE }}</div>
    <button mat-icon-button (click)="navigateToIngredientForm('new')"><mat-icon>add</mat-icon></button>
  </header>

  <section class="h-px">
    <mat-progress-bar *ngIf="nutritionService.ingredient.readingIngredients()"></mat-progress-bar>
  </section>

  <mat-selection-list [multiple]="false" hideSingleSelectionIndicator>
    <mat-list-option *ngFor="let ingredient of nutritionService.ingredient.ingredientList()" (click)="navigateToIngredientForm(ingredient.id)">
      <img matListItemAvatar *ngIf="!nutritionService.ingredient.readingImagesOfIngredients()" [src]="getIma(ingredient.image) || 'Yo%20pocho.png'" [alt]="STRING.MODULES.LLIMBRO.CHILDREN.NUTRITION.COMPONENTS.INGREDIENT.LIST_AVATAR_ALT"/>
      <span matListItemTitle>{{ ingredient.name }}</span>
      <span matListItemLine>{{ ingredient.description }}</span>
    </mat-list-option>
  </mat-selection-list>
</ng-template>


<app-column-center-container [template]="ingredientList"></app-column-center-container>
