<h1 mat-dialog-title>Configuración de objetivos</h1>

<mat-dialog-content>
  @for (objectiveConfigForm of objectiveConfigFormList; track objectiveConfigForm) {
    @if (!!objectiveConfigFormList) {
      <form [formGroup]="objectiveConfigForm" [class]="device.isMobile() ? 'grid-cols-1' : 'grid-cols-4'" class="grid gap-4" (change)="saveObjectiveConfig()">
        <!-- LEVEL -->
        <h3 [class]="device.isMobile() ? '' : 'col-span-4'">{{ objectiveConfigForm.controls['level'].value }}</h3>
        <!-- NOMBRE -->
        <mat-form-field appearance="outline">
          <mat-label>{{ text.ingredients.formLabels.calories }}</mat-label>
          <input id="calories" matInput formControlName="calories" type="number" (focus)="selectInputContent($event)" />
        </mat-form-field>
        <!-- NOMBRE -->
        <mat-form-field appearance="outline">
          <mat-label>{{ text.ingredients.formLabels.proteins }}</mat-label>
          <input id="proteins" matInput formControlName="proteins" type="number" (focus)="selectInputContent($event)" />
        </mat-form-field>
        <!-- NOMBRE -->
        <mat-form-field appearance="outline">
          <mat-label>{{ text.ingredients.formLabels.carbohydrates }}</mat-label>
          <input id="carbohydrates" matInput formControlName="carbohydrates" type="number" (focus)="selectInputContent($event)" />
        </mat-form-field>
        <!-- NOMBRE -->
        <mat-form-field appearance="outline">
          <mat-label>{{ text.ingredients.formLabels.fats }}</mat-label>
          <input id="fats" matInput formControlName="fats" type="number" (focus)="selectInputContent($event)" />
        </mat-form-field>
      </form>
    }
  }
</mat-dialog-content>
